###disable_html_escaping()
## Calls the post request

<li id="menu">
    <form action="/jira/rest/school/config/1.0/setup" method="post">
        <button id="button" class="aui-button aui-button-primary aui-style" type="submit" name="buttonconfig"
                value="buttonconfig">
            School
        </button>
    </form>
</li>


<script>
    $("#button").click(function (e) {
        // If status is 2**
        alert("Everything created!");
        setTimeout(function () {
            location.reload();
        }, 700);
        // So it does not redirect to a new page
        e.preventDefault();
    });
</script>
